@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom Classes */



.bg-blue {
  background-color: #26547C;
}

.bg-yellow {
  background-color: #FDCB58;
}

.text-blue {
  color: #26547C;
}
.text-yellow {
  color: #FDCB58;
}


.btn-yellow {
  background-color: #FDCB58;
  color: white;
  border: 1px solid #FDCB58;
}